body{
    display: flex;
    background-color: goldenrod;
}
#leftcontainer
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
#lefttopcontainer
{
    display: grid;
    place-items: center;
    background-color: lightskyblue;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left:15px ;
    padding-right:15px ;
    width: 100%;
}
#photo
{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
#socials
{
    margin-top: 35px;
}
.socialsicons
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#leftbottomcontainer
{
    display: grid;
    place-items: center;
    padding: 30px;
    background-color: lightgoldenrodyellow;
    width: 87%;
    margin-top: 0px;
}
#downladcv
{
    background-color: darkblue;
    color: whitesmoke;
    border-radius: 20%;
    height: 30px;

}
#resume
{
    text-decoration: none;
    color: whitesmoke;
}
#rightcontainer
{
    margin-left: 30px;
}
#words
{
    text-align: justify;
}
#introduction
{
    background-color: aliceblue;
    padding: 10px;
}
#information
{
    background-color: aliceblue;
    margin-top: 30px;
}
#informationtopcontainer
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills
{
    margin-right: 15px;
}
#personaltable{
    margin-top: 12px;
    margin-left: 12px;
}
#tskills{
    margin-left: 5px;
}
#ttitle
{
    text-decoration: underline;
}
#pskills{
    margin-left: 5px;
}
#ptitle
{
    text-decoration: underline;
}
#cskills{
    margin-left: 5px;
}
#ctitle
{
    text-decoration: underline;
}
#informationbottomcontainer
{
    
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.dtele
{
    margin-top: 10px;
    text-decoration: underline;
}
.liele
{
    
    margin-bottom: 10px;
}
#protitle
{
    text-decoration: underline;
}