#cardinfoform
{
    display: grid;
    place-items: center;
    background-image: url(Land\ of\ boxes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.inp{
    width: 80%;
    height: 35px;
    border: solid 3px;
    border-radius: 7%;
    margin-top: 10px;
}
#select
{
    border: solid 3px;
    width: 47%;
    height: 35px;
    margin-top: 10px;
    border-radius: 7%;
    margin-left: 10px;
}
#bottomcontainer
{
    display: flex;
}
#city
{
    width: 30%;
    height: 35px;
    margin-top: 10px;
    border-radius: 7%;
    border: solid 3px;
}
.smallinp
{
    width: 45px;
    height: 35px;
    margin-top: 10px;
    border-radius: 7%;
    border: solid 3px;
    
}
#smallinpcontainer
{
    width: 48%;
  display: flex;
  margin-left: 15px;
  justify-content: space-between;
}
body{
    background-color: burlywood;
}
#centeredpaymentinfo
{
    background-color: lightgoldenrodyellow;
    padding: 10px;
}
#submitbutton
{
    margin-top: 10px;
    height: 30px;
    
    border-radius: 13%;
    
    background-color: brown;
    padding: 10px;
    padding-bottom: 5px;
}
#submitbutton:hover{
    transform: scale(1.3);
    transition: 1300ms;
}
#addaddress
{
    text-decoration: none;
    color: aliceblue;
    
}
#newaddressbutton
{

    margin-top: 10px;
    height: 30px;
    
    border-radius: 13%;
    color: white;
    background-color:rebeccapurple;
    padding: 10px;
    padding-bottom: 5px;

}