#cardrow
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-y: hidden;
}

.cardcontainer
{
    border: solid 3px rgba(0,0,0,0.12);
    height: 275px;
    width: 225px;
    align-items: center;
    position: relative;
    margin-left: 15px;
    
}

.cardimage
{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-top: 19%;
    margin-left: 27%;
}
.idandname
{
    margin-left: 22%;
    align-items: center;
}
.id{
 font-weight: bolder;
}
.name{
margin-left: 22%;
}

.followbutton
{
    height: 45px;
    width: 95px;
    background-color: rgba(0,0,0,0.12);
    border: none;
    border-radius: 9%;
    margin-left: 27%;
    font-weight: bolder;
}
.close
{
    position: absolute;
    top: 10px;
    left: 85%;
    border: none;
    background-color: white;
    
}

#cardrow
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-y: hidden;
}