#infoheadercontainer
{   padding-top: 10px;
    display: flex;
}
#verifiedimg
{
    height: 20px;
    width: 20px;
    margin-left: 7px;
}
#profilename
{
    display: flex;
    align-items: center;
}
.profilebutton
{
    background-color: rgba(0,0,0,0.08);
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 7%;
    color: black;
    font-weight: bolder;
    margin-left: 35px;
}